# Jetbrain IDE
.idea/

# VSCode
.vscode/

# MacOS Specifics
.DS_Store

# models
models/

__pycache__

# Ignore the processed dataset files
/data/polaris/admet/processed
/data/polaris/potency/processed

results/